<div class="boxesPage">

<div class="box1">
  <div class="boxhead">
    <img src="../../../assets/Imgs/product.svg" alt="">
    <p>Total Production</p>
  </div>

  <div class="box1Body">

    <div class="box1Top">
      <div>
        <p class="amount">5,000 <span>bph</span></p>
        <p class="tail">Production /h</p>
      </div>

      <div>
        <p class="amount">7,000 <span>KM</span></p>
        <p class="tail">Actual Production /h</p>
      </div>
    </div>

    <div class="box1Bottom">

      <div class="lineProgress"></div>

      <p>75%</p>

    </div>

  </div>

</div>

<div class="box2">
  <div class="boxhead">
    <img src="../../../assets/Imgs/pereformance.svg" alt="">
    <p>Performance Indicator KPI</p>
  </div>

  <div class="box2Body">

    <div class="box2Chart">
      <circle-progress
      [percent]="76"
      [radius]="30"
      [showSubtitle]="false"
      [outerStrokeWidth]="5"
      [innerStrokeWidth]="0"
      [outerStrokeColor]="'#08415C'"
      [innerStrokeColor]="'#B2BEC39C'"
      [animation]="true"
      [animationDuration]="300"
       ></circle-progress>
       <p>OEE</p>
    </div>

    <div class="box2Progress">

      <div class="lineProgress1"></div>
      <p>80%</p>

      <div class="lineProgress2"></div>
      <p>30%</p>

      <div class="lineProgress3"></div>
      <p>60%</p>

    </div>

  </div>

</div>

<div class="box3">
  <div class="boxhead">
    <img src="../../../assets/Imgs/power.svg" alt="">
    <p>Power KPI</p>
  </div>

  <div class="box3Top">
    <div>
      <p class="amount">5,000 <span>KWH</span></p>
      <p class="tail">Energy Used</p>
    </div>

    <div>
      <p class="amount">7,000</p>
      <p class="tail">Power factor</p>
    </div>
  </div>

  <div class="box3Bottom">
    <div>
      <p class="amount">5,000 <span>KWH</span></p>
      <p class="tail">Energy Used</p>
    </div>
  </div>

</div>

</div>
