<div class="factoryPage">

  <div class="factory" *ngFor="let factory of factories">

  <div class="factoryName">
    <p>{{factory.name}}</p>
  </div>

  <div class="factoryBody">

    <div class="FactoryPart1">

      <div class="Part1Line">
        <div class="title">
          <img src="../../../assets/Imgs/machine/speed.svg" alt="">
          <p>Actual speed</p>
        </div>

        <div class="value">
          <p>{{factory.speed}}<span> L/s </span> </p>
        </div>

      </div>

      <div class="Part1Line">
        <div class="title">
          <img src="../../../assets/Imgs/machine/production.svg" alt="">
          <p>Actual production</p>
        </div>

        <div class="value">
          <p>{{factory.production}} <span> L </span> </p>
        </div>

      </div>

      <div class="Part1Line">
        <div class="title">
          <img src="../../../assets/Imgs/machine/cycle.svg" alt="">
          <p>Last hour cycle time</p>
        </div>

        <div class="value">
          <p>{{factory.time}}  <span> s </span> </p>
        </div>

      </div>

      <div class="Part1Line">
        <div class="title">
          <img src="../../../assets/Imgs/machine/active.svg" alt="">
          <p>Ratio of active lines</p>
        </div>

        <div class="value">
          <p>5:2</p>
        </div>

      </div>

    </div>


    <div class="shift">
      <p>Last Shift</p>
    </div>

    <div class="factoryCharts">
      <div class="factoryChart">
        <circle-progress
          [percent]="factory.oee"
          [radius]="30"
          [showSubtitle]="false"
          [outerStrokeWidth]="5"
          [innerStrokeWidth]="0"
          [outerStrokeColor]="'#FF9F1C'"
          [innerStrokeColor]="'#B2BEC39C'"
          [animation]="true"
          [animationDuration]="300"
        >
      </circle-progress>
        <p>OEE</p>
      </div>

      <div class="factoryChart">
        <circle-progress
        [percent]="factory.sle"
        [radius]="30"
        [showSubtitle]="false"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="0"
        [outerStrokeColor]="'#00D1DE'"
        [innerStrokeColor]="'#B2BEC39C'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
        <p>SLE</p>
      </div>

      <div class="factoryChart">
        <circle-progress
      [percent]="factory.usle"
      [radius]="30"
      [showSubtitle]="false"
      [outerStrokeWidth]="5"
      [innerStrokeWidth]="0"
      [outerStrokeColor]="'#CA4E82'"
      [innerStrokeColor]="'#B2BEC39C'"
      [animation]="true"
      [animationDuration]="300"
       ></circle-progress>
        <p>USLE</p>
      </div>

    </div>

    <div class="factoryPart2">

      <div class="Part1Line">
        <div class="title">
          <img src="../../../assets/Imgs/machine/volume.svg" alt="">
          <p>Production volume</p>
        </div>

        <div class="value">
          <p>{{factory.volume}}<span> L </span> </p>
        </div>

      </div>

      <div class="Part1Line">
        <div class="title">
          <img src="../../../assets/Imgs/machine/quality.svg" alt="">
          <p>Production quality</p>
        </div>

        <div class="value">
          <p>{{factory.quality}}</p>
        </div>

      </div>

    </div>

  </div>

</div>

</div>
