<div class="loginPage">
  <!-- <div class="loginLogo">

  </div> -->
<div class="loginLeft">
  <img src="../../../assets/Imgs/platform.svg" alt="">
</div>

<div class="loginRight">

  <div class="loginHead">
    <img src="../../../assets/factoryIcon.svg" class="logoImg" alt="logo">
    <p class="logoText"> MES</p>
  </div>

  <div class="loginInp">
    <form [formGroup]="loginForm" (ngSubmit)="loginBtn(loginForm)">
    <input type="text" formControlName="userMail" placeholder="Email">
    <input type="password" formControlName="password" placeholder="Password">
    <button class="loginBtn" [disabled]="loginForm.invalid" type="submit"> LOGIN </button>
  </form>
    <img src="../../../assets/Imgs/Coca-Cola-Logo.svg" alt="">
  </div>

</div>

</div>
