<div class="boxesPage">

  <div class="box1">
    <div class="boxhead">
      <img src="../../../assets/Imgs/product.svg" alt="" />
      <p>Total Production</p>
    </div>

    <div class="box1Body">
      <div class="box1Details">
        <p class="name">
          <img src="../../../assets/Imgs/planning/bottle.svg" alt="" /> Bottle
        </p>

        <p class="value">500K</p>
      </div>

      <div class="box1Details">
        <p class="name">
          <img src="../../../assets/Imgs/planning/pack.svg" alt="" /> Pack
        </p>

        <p class="value">50K</p>
      </div>

      <div class="box1Details">
        <p class="name">
          <img src="../../../assets/Imgs/planning/pallete.svg" alt="" /> Pallete
        </p>

        <p class="value">10K</p>
      </div>
    </div>
  </div>

  <div class="box2">
    <div class="boxhead">
      <img src="../../../assets/Imgs/pereformance.svg" alt="" />
      <p>Performance Indicator KPI</p>
    </div>

    <div class="box2Body">

      <div class="box2Chart">

        <div class="chart2">
          <circle-progress
          [percent]="76"
          [radius]="30"
          [showSubtitle]="false"
          [outerStrokeWidth]="5"
          [innerStrokeWidth]="0"
          [outerStrokeColor]="'#FF9F1C'"
          [innerStrokeColor]="'#B2BEC39C'"
          [animation]="true"
          [animationDuration]="300"
        >
      </circle-progress>
      <p>OEE</p>
        </div>

        <div class="chart2">
        <circle-progress
        [percent]="76"
        [radius]="30"
        [showSubtitle]="false"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="0"
        [outerStrokeColor]="'#00D1DE'"
        [innerStrokeColor]="'#B2BEC39C'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
        <p>SLE</p>
      </div>

      <div class="chart2">
      <circle-progress
      [percent]="76"
      [radius]="30"
      [showSubtitle]="false"
      [outerStrokeWidth]="5"
      [innerStrokeWidth]="0"
      [outerStrokeColor]="'#CA4E82'"
      [innerStrokeColor]="'#B2BEC39C'"
      [animation]="true"
      [animationDuration]="300"
       ></circle-progress>
       <p>USLE</p>
      </div>

      </div>

      <div class="box2Progress">

        <div class="planProgress">
          <div class="lineProgress2"></div>
          <p>30%</p>
        </div>

        <div class="planProgress">
        <div class="lineProgress3"></div>
        <p>60%</p>
      </div>

      </div>
    </div>
  </div>

  <div class="box3">
    <div class="boxhead">
      <img src="../../../assets/Imgs/planning/usage.svg" alt="" />
      <p>Usage KPI</p>
    </div>

    <div class="box3Body">
      <div class="box3Details">
        <p class="name">
          <img src="../../../assets/Imgs/planning/energy.svg" alt="" /> Energy
        </p>

        <p class="value1">500K <span>J</span></p>

        <p class="value2">500K <span>J</span></p>
      </div>

      <div class="box3Details">
        <p class="name">
          <img src="../../../assets/Imgs/planning/water.svg" alt="" /> Water
        </p>

        <p class="value1">500K <span>L</span></p>

        <p class="value2">500K <span>L</span></p>
      </div>
    </div>
  </div>
</div>
