<div class="sidebarPage">

  <div class="logo">
    <img src="../../../assets/Imgs/factoryIcon.svg" class="logoImg" alt="logo">
    <p class="logoText"> MES</p>
  </div>

<div class="sidebarLinks">

  <div class="sidebarLinksTop">

    <a routerLink="dashboard" class="link"> <img src="../../../assets/Imgs/Dashboard.svg" alt=""> <p>Dashboard</p> </a>
    <a routerLink="machines" class="link"> <img src="../../../assets/Imgs/machine.svg" alt=""> <p>Machines</p> </a>
    <a routerLink="planning" class="link"> <img src="../../../assets/Imgs/planning.svg" alt=""> <p>Planning</p> </a>
    <a routerLink="reports" class="link"> <img src="../../../assets/Imgs/reports.svg" alt=""> <p>Reports</p> </a>

    </div>

    <div class="sidebarLinksDown">

      <a routerLink="" class="link"> <img src="../../../assets/Imgs/setting.svg" alt=""> <p>Settings</p> </a>
      <a routerLink="login" class="link"> <img src="../../../assets/Imgs/logout.svg" alt=""> <p>Logout</p> </a>

    </div>

</div>

<div class="colaImg">

<img src="../../../assets/Imgs/coca-cola-white.svg" alt="">

</div>


</div>
