<div class="treePage">

  <div class="treeHead">
    <img src="../../../assets/Imgs/planning/usage.svg" alt="">
    <p>Loss Tree</p>
  </div>

  <div class="treeBody">

    <div class="line">

      <div class="lineShape1"></div>
      <div class="lineShape2"></div>
      <p class="OFF">OFF</p>
      <p class="ON">ON</p>
      <p class="offValue">25%</p>
      <p class="onValue">75%</p>

    </div>

    <div class="line">
      <div class="shape2"></div>
      <pre class="shape2Name">Quality
Loss</pre>
        <p class="shape2VAlue">45%</p>
    </div>

    <div class="line">
      <div class="shape3"></div>
      <pre class="shape3Name">Speed
Loss</pre>
        <p class="shape3VAlue">20%</p>
    </div>

    <div class="line">
      <p class="shape4Name">Break-down</p>
      <div class="shape4"></div>
        <p class="shape4VAlue">5%</p>
    </div>

    <div class="line">
      <p class="shape5Name">Cleansing process</p>
      <div class="shape5"></div>
        <p class="shape5VAlue">1%</p>
    </div>

    <div class="line">
      <p class="shape6Name">Change over time</p>
      <div class="shape6"></div>
        <p class="shape6VAlue">2%</p>
    </div>

    <div class="line">
      <p class="shape7Name">Idle</p>
      <div class="shape7"></div>
        <p class="shape7VAlue">2%</p>
    </div>

    <div class="line">
      <p class="shape8Name">Minor stops</p>
      <div class="shape8"></div>
        <p class="shape8VAlue">5%</p>
    </div>


</div>

</div>
