@import "../../../assets/shared/styleVar.scss";

.treePage {
  width: 100%;
  height: 100%;



    .treeHead {
      height: 19%;
      width: 100%;
      padding-top: 1%;
      margin-bottom: 0%;
      padding-left: 3%;
      border-bottom: 1px solid lightgray;

      p {
        display: inline-block;
        margin-left: 1%;
        color: #000000;
      }
    }

    .treeBody{
      width: 100%;
      height: 80%;
      padding: 0%;
      display: flex;
      justify-content: space-around;

      .line{
        height: 100%;
        width: 10%;
        margin-right: 1%;

        .on_off_shape{
          width: 100%;
          height: 80%;
          margin-top: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .follow_on{
          width: 100%;
          height: 100%;
          display: flex;
          align-items: flex-end;
        }

        .stayUp{
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: start;
        }

        .stayDown{
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .offShape{
          width: 27.73px;
          border-radius: 4px;
          position: relative;
          background-color: red;
        }

        .onShape{
          width: 27.73px;
          border-radius: 4px;
          margin-top: 5px;
          position: relative;
          background-color: #2EC4B6;
        }

        .off_value{
          position: absolute;
          top: 0%;
          right: -100%;
          font-size: 12px;
          font-weight: bold;
        }

        .off{
          position: absolute;
          bottom: 0%;
          left: -100%;
          font-size: 12px;
          font-weight: 500;
          letter-spacing: 0.24px;
          transform: rotate(-90deg);
        }

        .on_value{
          position: absolute;
          top: 0%;
          right: -100%;
          font-size: 12px;
          font-weight: bold;
        }

        .on{
          position: absolute;
          bottom: 0%;
          left: -100%;
          font-size: 12px;
          font-weight: 500;
          letter-spacing: 0.24px;
          transform: rotate(-90deg);
        }

        .shape2{
          width: 27.73px;
          height: 90%;
          border-radius: 4px;
          position: relative;
          background-color: rgba(183, 255, 255, 0.863);

          .shape2Active{
            position: absolute;
            bottom: 0%;
            left: 0%;
            width: 100%;
            border-radius: 4px;
            background-color: #2EC4B6;

            .shape2VAlue{
              margin-top: 0%;
              margin-left: 110%;
              font-size: 12px;
              font-weight: bold;
            }

          }

        }

        .shape2Name{
          text-align: center;
          font-size: 12px;
          font-weight: bold;
          margin: 0%;
         }


        .shape3{
          width: 27.73px;
          height: 90%;
          border-radius: 4px;
          position: relative;
          background-color: rgba(183, 255, 255, 0.863);

          .shape3Active{
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            border-radius: 4px;
            background-color: #2EC4B6;

            .shape3VAlue{
              margin-top: 0%;
              margin-left: 110%;
              font-size: 12px;
              font-weight: bold;
            }

          }

        }

        .shape3Name{
          text-align: center;
          font-size: 12px;
          font-weight: bold;
          margin: 0%;
        }


        .shape4{
          width: 27.73px;
          border-radius: 4px;
          position: relative;
          background-color: rgba(255, 191, 191, 0.829);

          .shape4Active{
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            border-radius: 4px;
            background-color: red;

            .shape4VAlue{
              margin-top: -15%;
              margin-left: 110%;
              font-size: 12px;
              font-weight: bold;
            }

          }

        }

          .shape4Name{
          text-align: center;
          font-size: 14px;
          font-weight: bolder;
          margin-bottom: 10%;
          padding: 0%;
        }


        .shape5{
          width: 27.73px;
          border-radius: 4px;
          position: relative;
          background-color: rgba(255, 191, 191, 0.829);

          .shape5Active{
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            border-radius: 4px;
            background-color: red;

            .shape5VAlue{
              margin-top: -15%;
              margin-left: 110%;
              font-size: 12px;
              font-weight: bold;
            }

          }

        }

          .shape5Name{
          text-align: center;
          font-size: 14px;
          font-weight: bolder;
          margin-bottom: 10%;
          padding: 0%;
        }

        .shape6{
          width: 27.73px;
          border-radius: 4px;
          position: relative;
          background-color: rgba(255, 191, 191, 0.829);

          .shape6Active{
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            border-radius: 4px;
            background-color: red;

            .shape6VAlue{
              margin-top: -15%;
              margin-left: 110%;
              font-size: 12px;
              font-weight: bold;
            }

          }

        }

          .shape6Name{
          text-align: center;
          font-size: 14px;
          font-weight: bolder;
          margin-bottom: 10%;
          padding: 0%;
        }

        .shape7{
          width: 27.73px;
          border-radius: 4px;
          position: relative;
          background-color: rgba(255, 191, 191, 0.829);

          .shape7Active{
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            border-radius: 4px;
            background-color: red;

            .shape7VAlue{
              margin-top: -15%;
              margin-left: 110%;
              font-size: 12px;
              font-weight: bold;
            }

          }

        }

          .shape7Name{
          text-align: center;
          font-size: 14px;
          font-weight: bolder;
          margin-bottom: 10%;
          padding: 0%;
        }

        .shape8{
          width: 27.73px;
          border-radius: 4px;
          position: relative;
          background-color: rgba(255, 191, 191, 0.829);

          .shape8Active{
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            border-radius: 4px;
            background-color: red;

            .shape8VAlue{
              margin-top: -15%;
              margin-left: 110%;
              font-size: 12px;
              font-weight: bold;
            }

          }

        }

          .shape8Name{
          text-align: center;
          font-size: 14px;
          font-weight: bolder;
          margin-bottom: 10%;
          padding: 0%;
        }
      }

    }

}
